@font-face {
    font-family: 'Moderat';
    src: url('/assets/font/Moderat-Light.ttf');
    font-weight: lighter;
    font-display: swap;
  }

  @font-face {
    font-family: 'Moderat';
    src: url('/assets/font/Moderat-Regular.ttf');
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Tiempos';
    src: url('/assets/font/Tiempos\ Headline-Regular.otf');
    font-weight: normal;
    font-display: swap;
  }